Lenguaje-De-Marcas/Ejercicios/UD1/Relacion4/Ejercicio2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="pedidos">
        <xs:complexType>

        </xs:complexType>

    </xs:element>


</xs:schema>


<xs:sequence>
<xs:element name="pedido" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="cliente">
<xs:complexType>
<xs:sequence>
<xs:element name="nombre">
<xs:simpleType>
<xs:element name="email">
<xs:simpleType>
<xs:element name="telefono">
<xs:simpleType>
</xs:simpleType>